<%- include ("partials/header") %>  
        <hr>            
        <img src="<%= !userz?"/img/avatar.png":userz.avatar %>" alt="">        
        <p><b><%= !userz?"guest":userz.username %> </b></p>
       <hr>
      
              <nav>
                  <a href="/all">All</a>
                  <a href="/you">You</a>
                  <a href="/them">Them</a>
                  <hr>
                  <a href="/friends">Friends</a>
                  <a href="/aquaintence">Aquaintence</a>
                  <a href="/enemies">Enemies</a>
                  <a href="/more">more</a>
              </nav>
        <hr>

          <% users.forEach((user)=>{ %>
              <div>
                <img src="<%= !user.avatar?"/img/avatar.png":user.avatar %>" alt="">
                <a href="/profiles/<%= user._id %>/tagged/all"><%= user.username %></a>
            </div>
            <hr>
          <% }) %> 
  

        <%- include ("partials/footer") %> 