<%- include ("partials/header") %>  
        <hr>            
        <img src="<%= !userz?"/img/avatar.png":userz.avatar %>" alt="">        
        <p><b><%= !userz?"guest":userz.username %> </b></p>
       <hr>
      
              <nav>
                  <a href="#">All</a>
                  <a href="#">You</a>
                  <a href="#">Them</a>
                  <hr>
                  <a href="#">Friends</a>
                  <a href="#">Aquaintence</a>
                  <a href="#">Enemies</a>
                  <a href="#">more</a>
              </nav>
        <hr>

          <% users.forEach((user)=>{ %>
              <div>
                <img src="<%= !user.avatar?"/img/avatar.png":user.avatar %>" alt="">
                <a href="/profiles/<%= user._id %>"><%= user.username %></a>
            </div>
            <hr>
          <% }) %> 
  

        <%- include ("partials/footer") %> 