<%- include ("partials/header") %>  
<hr>
<img src="<%= !viewuser.avatar?"/img/avatar.png":viewuser.avatar %>" alt="">
<p><%= viewuser.username %> </p>
<hr>
<form action="/profiles/<%= viewuser._id %>" method="POST">
<input type="radio" name="tag" value="friend">
<label for="">Friend</label>
<input type="radio" name="tag" value="aquaintence">
<label for="">Aquaintence</label>
<input type="radio" name="tag" value="enemy">
<label for="">Enemy</label>
<button>Add</button>
</form>
<hr>
<a href="/profiles/<%= viewuser._id %>">tagged</a>
<a href="/profiles/<%= viewuser._id %>/taggedby">taggedby</a>
<hr>
<% tagged.forEach((user)=>{ %>
    <div>
      <img src="<%= !user.avatar?"/img/avatar.png":user.avatar %>" alt="">
      <br>
        <%  if(view){ %>
            <% user.taggedby.forEach(element=>{%>
                <% if(element._id == viewuser._id){ %>
                       <h3><%= element.tag %> </h3>   
                <% }; %> 
            <%  }); %> 
        <%  }else{ %>
            
            <% user.tagged.forEach(element=>{%>
                <% if(element._id == viewuser._id){ %>
                       <h3><%= element.tag %> </h3>   
                <% }; %> 
            <%  }); %> 
            <% } %>

      <a href="/profiles/<%= user._id %>"><%= user.username %></a>
  </div>
  <hr>
<% }); %> 
<%- include ("partials/footer") %>  